* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  height: 5rem;
  overflow: hidden;
  background-color: #333;
  position: relative;
}
#navLinks {
  display: none;
}
#myLinks {
  display: none;
  z-index: 1000;
  position: fixed;
  width: 100%;
}
#myLinks a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: black;
}
.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 5rem;
  width: 5rem;
}
.bars {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#logo-div {
  height: 5rem;
}
#logo {
  height: 5rem;
}
